.popup-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .popup {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    padding: 24px;
    width: 400px;
    max-width: 100%;
  
    text-align: center;
  }
  
  .popup-title {
    font-size: 24px;
    margin-bottom: 16px;
    font-weight: bold;
  }
  
  .popup-message {
    font-size: 18px;
    margin-bottom: 24px;
  }
  
  .popup-buttons {
    display: flex;
    justify-content: center;
  }
  
  .popup-button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 12px 24px;
    margin-right: 8px;
  }
   .popup-button:last-child {
    margin-right: 0;
  }
  
  .popup-button:hover {
    cursor: pointer;
    background-color: #3e8e41;
  }
  
  .popup-button:active {
    background-color: #367c39;
  }
  
  @media (max-width: 600px) {
    .popup {
      width: 90%;
  
    }
  }